* {
    border: 0;
    margin: 0;
}

body {
    background-color: lightgray ;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    text-align: justify;
}

img{
    margin-left: 40%;
    margin-right: 40%;
    margin-top: 5px;
    width: 20%;
    object-fit: cover;
}

h1,h2 {
    margin-bottom: 10px;
    text-align: center;
}
.text, header, .socials{ 
    text-align: left;
    margin-bottom: 20px;
    padding-left: 10px;
}

.socials {
    margin-top: 3%;
    margin-left: 40%;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: blue;
    font-size: 20px;
}

.footer {
    border: 1px solid black;
    background-color: black;
    color: white;
    margin-top: 17%;
}